# Laravel gitignore
/node_modules
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Vagrant
/.vagrant

# Redis Desktop Windows
dump.rdb

# PHP CS Fixer
.php_cs.cache
.php-cs-fixer.cache

# Yarn 2
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
